.navbar {
  background: white;
}

.navbar .container {
  justify-content: flex-start;
}

.navbar .container a:nth-child(2) {
  margin-left: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
